[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
clouddist = {editable = true,path = "."}

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pyside2 = "*"
clouddist = {path = "."}

[requires]
python_version = "3.6"
